<?xml version="1.0"?>
<launch>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find Robot_description)/urdf/Robot_description.xacro'"/>

  
  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false"/>
  	</node>

  	<!-- Combine joint values -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d /home/eldesouky/Desktop/miniRobot_ws/src/rviz/rvis_confSLAM.rviz" />

</launch>
